<div class="page">
    <div class="head">
        <div class="head-content">
            <div class="head-left"><a href="/">lexbor</a></div>
            <div class="head-right">
                <ul>
                    <li><a href="/download/">Download</a></li>
                    <li><a href="/documentation/">Documentation</a></li>
                    <li><a href="/support/">Support</a></li>
                    <li><a href="/license/">License</a></li>
                    <li><a href="/roadmap/">Roadmap</a></li>
                    <li><a href="/fuzzers/">Fuzzers</a></li>
                    <li><a href="/generate/amalgamation">Amalgamation</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="content ">
            <div class="container">